<h1>TKO Restaurant</h1>

<h3> Pages </h3>

<ul>	
	<li> <a href = "/customers"> Customers </a> </li> 
		<ul> 
			<li> Browse </li>
			<li> Add </li>
			<li> Search </li>
			<li> Delete </li>
			<li> Update Info </li>
		</ul>
	<li> <a href = "/menu"> Menu </a> </li>
		<ul> 
			<li> Browse </li>
			<li> Add </li>
			<li> Search </li>
			<li> Delete </li>
			<li> Update Info </li>
		</ul>
	<li> <a href = "/orders"> Orders </a> </li>
		<ul> 
			<li> Browse </li>
			<li> Add </li>
		</ul>
	<li> <a href = "employees"> Employees </a> </li>
		<ul> 
			<li> Browse </li>
			<li> Add </li>
			<li> Search </li>
			<li> Delete </li>
			<li> Update Info </li>
		</ul>
</ul>