<h2>Update Employee</h2>

<form action="/employeeUpdateReturn">
    First Name: <input type="text" name = "fName" id="fName" value="{{results.fName}}"> <br> <br>
	Last Name: <input type="text" name = "lName" id="lName" value="{{results.lName}}"> <br> <br>

	
    <input type="hidden" name="id" value={{results.id}}>
    <input type="submit" name="updateEmployee" value="Update Employee" id="updateEmployee">
</form>